/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/inter/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/inter/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue-200: hsl(224, 100%, 95%);
  --color-blue-400: hsl(220, 100%, 64%);
  --color-blue-600: hsl(228, 100%, 60%);
  --color-blue-700: hsl(228, 99%, 58%);
  --color-black: hsl(0, 0%, 0%);
  --font-inter: "Inter", sans-serif;
  --font-weight-regular:300;
  --font-weight-medium:500;
  --font-size-paragraph: calc(17 / 16 * 1rem);
  --font-size-stats-nav-footer: calc(14 / 16 * 1rem);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-inter);
  color: var(--color-white);
  background-color: var(--color-blue-700);
  font-size: var(--font-size-paragraph);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.5625rem;
  padding-inline-end: 1.25rem;
  border-bottom: 1px solid var(--color-blue-400);
}

.nav-title-container {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding-inline-start: 1.6875rem;
}

.circle {
  display: inline-block;
  height: 0.6875rem;
  width: 0.6875rem;
  background-color: var(--color-white);
  border-radius: 50px;
}

.nav-title {
  font-size: var(--font-size-stats-nav-footer);
  font-weight: var(--font-weight-regular);
}

.nav-menu-container {
  height: 100%;
  width: 2.1875rem;
  display: flex;
  align-items: center;
}

.menu-button {
  height: 1.5rem;
  width: 100%;
}

.menu {
  position: absolute;
  top: 72px;
  width: 100%;
  height: 21.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: var(--color-blue-700);
  border-top: 1px solid var(--color-blue-400);
}

.menu.show {
  opacity: 1;
}

.menu-links {
  font-size: 1.875rem;
  text-decoration: none;
  background-image: linear-gradient(var(--color-white), var(--color-white));
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.menu-links:hover, .menu-links:focus {
  background-size: 100% 1px;
  outline: none;
}

.main-el {
  width: 100%;
  min-height: 100vh;
}

.main-el.dim {
  background-color: var(--color-black);
  opacity: 25%;
}

.hero-section {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1.875rem;
  gap: 1.25rem;
  width: 100%;
  height: 21.375rem;
  border-bottom: 1px solid var(--color-blue-400);
}

.hero-section-title {
  font-size: clamp(1.875rem, 10vw, 2.5625rem);
  font-weight: 500;
}

.hero-section-paragraph {
  line-height: clamp(1.4em, 10vw, 1.7em);
  padding-inline-end: clamp(0.625rem, 10vw, 4.375rem);
}

.stats-section {
  height: 100%;
  width: 100%;
}

.stats {
  width: 100%;
  height: 20.5rem;
  border-bottom: 1px solid var(--color-blue-400);
  padding: 1.54375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-and-stats-holder {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-inline-end: 0.625rem;
}

.counter-container {
  display: flex;
}

.counters, .stat-description {
  font-size: 2.1875rem;
}

.stat-content {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.second-paragraph {
  font-size: var(--font-size-stats-nav-footer);
  font-weight: 400;
}

.footer-el {
  font-size: var(--font-size-stats-nav-footer);
  height: 5.3125rem;
  width: 100%;
  padding-inline-start: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-el.dim {
  background-color: var(--color-black);
  opacity: 25%;
}

@media (min-width: 768px) {
  .nav-title-container {
    padding-inline-start: 3.125rem;
  }
  .main-el {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 1fr);
  }
  .menu {
    opacity: 1;
    position: fixed;
    width: 25%;
    right: -25%;
    height: calc(100% - 72px);
    justify-content: start;
    align-items: end;
    padding-block: 3.125rem;
    padding-inline: 1.875rem;
    transition: right 0.4s ease-in-out;
  }
  .menu.show {
    right: 0;
  }
  .hero-section {
    height: 100%;
    grid-column: 1;
    grid-row: 1/2;
  }
  .hero-section-title {
    font-size: 3.4375rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 11.25rem;
    padding-block-end: 0.0625rem;
  }
  .hero-section-paragraph {
    line-height: 1.5em;
    padding-block-start: 1.25rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 11.25rem;
  }
  .stats-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-left: 1px solid var(--color-blue-400);
  }
  .stats:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
  }
  .stats:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    border-left: 1px solid var(--color-blue-400);
  }
  .stats:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }
  .stats:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    border-left: 1px solid var(--color-blue-400);
  }
  .footer-el {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 1.75rem;
    padding-inline-start: 3.0625rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .menu {
    transition: right 0.65s ease-out;
  }
}/*# sourceMappingURL=styles.css.map */